*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* Colores provisionales */
  --dark: #222;
  --white: #eee;
  --color-dark: #212121;
  --turquoise-green: #b7e4c7;
  --jungle-green: #1b4332;
  --ocean-green: #52b788;
  --color-text: var(--color-dark);
  line-height: 1.4;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

header {
  width: 100%;
  background-color: var(--turquoise-green);
  z-index: 1;
  top: 0%;
  left: 0%;
}

/* Navbar */

.navbar__title {
  font-size: 40px;
  color: var(--dark);
}

.navbar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 150px;
}
#btn-menu{
  display: none;
}

.hamburger__menu label{
  display: none;
  width: 90px;
  padding: 10px;
  color: white;
  font-size: 30px;
  transition: all 400ms ease;
}

.hamburger__menu label:hover{
  cursor: pointer;
}

.hamburger__menu-nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger__menu-nav li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 15px 20px;
  margin: 0px 3px;
  transition: all 400ms ease;
}

.hamburger__menu-nav li a:hover{
  background-color: var(--ocean-green);
  /* text-decoration: underline var(--jungle-green) ; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


/* Footer */

.line {
  height: 1px;
  background-color: var(--dark);
}

.footer {
  padding: 1rem;
  background-color: var(--turquoise-green);
  color: var(--dark);
}

.footer .btn__submit h2 {
  text-align: center;
  font-size: 48px;
}

/* Title inputs */

.title__inputs {
  margin-bottom: 20px;
}

.inputs__container {
  margin-top: 8px;
}

.input__label {
  display: block;
  width: calc(72vw - 24px);
  height: 40px;
  border: 3px solid var(--turquoise-green);
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.25s;
}

.input__label .input__task {
  display: block;
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
}

.input__label .input__span {
  font-size: 20px;
  transition: 0.25s;
  color: var(--ocean-green);
  position: absolute;
  top: 8px;
  left: 10px;
}

/* focus */

.input__label.focus {
  border-color: var(--ocean-green);
}

.input__label .input__span.focus {
  color: var(--ocean-green);
}

/* Top */

.input__label .input__span.top {
  left: 2px;
  top: -10px;
  font-size: 14px;
  background: var(--white);
  padding: 0 5px;
}

.container__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* TodoList */
.todoList {
  /* width: calc(72vw - 24px); */
  display: block;
  padding: 10px;
  margin: 10px;
}

.todoList__item {
  background-color: var(--turquoise-green);
  border-radius: 8px;
  box-shadow: 8px 8px 2px var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--ocean-green);
}

.task__description {
  margin-right: 40px;
  font-size: 20px;
}

.task__end {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #3bb143;
}

.task__erase {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 960px) {
  .input__label {
    width: calc(42vw - 20px);
    height: 50px;
  }

  /* .todoList {
    width: calc(42vw - 24px);
  } */
}

@media (max-width: 760px) {
  .container__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task__description {
    font-size: 16px;
  }

  .task__end {
    font-size: 16px;
  }

  .task__erase {
    font-size: 16px;
  }

  .input__label .input__span {
    font-size: 16px;
  }

  .input__label .input__span.top {
    font-size: 12px;
  }

  .input__label .input__task {
    font-size: 16px;
  }

  .btn__submit {
    display: flex;
    align-items: center;
  }
  .navbar__title{
    font-size: 30px;
  }

  .hamburger__menu label{
    display: block;
  }

  .hamburger__menu-nav{
    position: absolute;
    background-color: var(--turquoise-green);
    width: 100%;
    margin-top: -100%;
    transition: all 400ms ease;
  }

  .hamburger__menu-nav ul{
    flex-direction: column;
    border-top: 1px solid var(--jungle-green) ;
  }

  #btn-menu:checked ~ .hamburger__menu-nav{
    margin: 0%;
  }

  .hamburger__menu-nav li{
    width: 100%;
    text-align: center;
  }

  .hamburger__menu-nav li a:hover{
    border-radius: 0%;
  }

}
