button.button {
  display: inline-block;
  width: 64px;
  height: auto;
  padding: 5px 10px;
  margin-left: calc(4vw - 16px);
  border-radius: 50%;
  color: var(--dark);
  background-color: var(--blue-cerulean);
  transition: all ease 0.3s;
}

button.button > img {
  width: 100%;
  height: auto;
}

button.button:hover {
  background-color: var(--blue-bda);
  color: var(--dark);
}

@media (max-width: 760px) {
  button.button {
    width: 40px;
    padding: 2px 4px;
    margin-left: calc(8vw - 10px);
  }
}
