button.button {
  display: inline-block;
  padding: 8px 36px;
  margin-left: 38px;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 500;
  color: var(--white);
  background-color: var(--ocean-green);
  text-align: center;
  transition: all 0.3s;
}

button.button:hover {
  background-color: var(--turquoise-green);
  color: var(--dark);
}

@media (max-width: 760px) {

  button.button {
    margin: auto;
    padding: 5px;
    font-size: 12px;
  }
}