*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

html[standardized-themed-scrollbar] {
  scrollbar-color: #222;
}

:root {
  /* Colores provisionales */
  --dark: #171717;
  --white: #eee;
  --blue-bda: #3d5a80;
  --blue-cerulean: #98c1d9;
  --cyan-light: #e0fbfc;
  --sienna-burnt: #ee6c4d;
  --gunmetal: #293241;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

header {
  width: 100%;
  background-color: var(--blue-cerulean);
  z-index: 1;
  top: 0%;
  left: 0%;
}

/* Navbar */

.navbar__title {
  font-size: 40px;
  color: var(--dark);
}

.navbar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 150px;
}

#btn-menu {
  display: none;
}

/* Hamburger Menu */

.hamburger__menu label {
  display: none;
  width: 90px;
  padding: 10px;
  color: white;
  font-size: 30px;
  transition: all 400ms ease;
}

.hamburger__menu label:hover {
  cursor: pointer;
}

.hamburger__menu-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger__menu-nav ul li {
  border-top: 2px solid var(--blue-bda);
  padding: 8px;
}

.hamburger__menu-nav ul li a {
  text-decoration: none;
  color: var(--dark);
  border-bottom: 4px double var(--gunmetal);
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 15px 20px;
  margin: 0px 4px;
  transition: all 0.3s ease;
}

.hamburger__menu-nav li a:hover {
  background-color: var(--blue-bda);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Footer */

.line {
  height: 1px;
  background-color: var(--dark);
}

.footer {
  padding: 1rem;
  color: var(--dark);
  background-color: var(--blue-cerulean);
}

.footer .btn__submit h2 {
  text-align: center;
  font-size: 48px;
}

/* Title inputs */

.title__inputs {
  margin-bottom: 20px;
}

.inputs__container {
  margin-top: 8px;
}

.input__label {
  display: block;
  width: calc(72vw - 24px);
  height: 40px;
  border: 3px solid var(--blue-cerulean);
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  background: #f4f4f4;
  border-radius: 4px;
  transition: 0.25s;
}

.input__label .input__task {
  display: block;
  border: none;
  width: 100%;
  background: #f4f4f4;
  outline: none;
  font-size: 20px;
}

.input__label .input__span {
  font-size: 20px;
  transition: 0.25s;
  color: var(--blue-cerulean);
  position: absolute;
  top: 8px;
  left: 10px;
}

/* focus */

.input__label.focus {
  border-color: var(--blue-bda);
}

.input__label .input__span.focus {
  color: var(--blue-bda);
}

/* Top */

.input__label .input__span.top {
  left: 2px;
  top: -12px;
  font-size: 16px;
  background: #f4f4f4;
  padding: 0 5px;
}

.container__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* TodoList */

.todoList {
  display: block;
  padding: 10px;
  margin: 10px;
}

.todoList__item {
  background-color: var(--blue-cerulean);
  border-radius: 8px;
  box-shadow: 8px 8px 2px #20202090;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--blue-bda);
}

/* Task description */

.task__description {
  margin-right: 40px;
  font-size: 20px;
  cursor: pointer;
}

.task__end {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #3bb143;
}

.task__erase {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  /* color: #453500; */
}

/* Footer and data */
footer.footer {
  padding: 0;
}

.footer div section ul {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  list-style: none;
}

.footer div section ul li {
  font-size: 17px;
  border-left: 1px solid #b6d1e4;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.footer div section ul li:nth-child(6) {
  border-top: 1px dashed #b6d1e4;
  grid-column: 1 / 6;
  font-size: 18px;
}

.footer div section ul li a {
  text-decoration: none;
  color: var(--dark);
}

@media (min-width: 760px) {
  .input__label {
    width: calc(42vw - 20px);
    height: 50px;
  }
}

@media (max-width: 760px) {
  .container__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer div section ul {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    list-style: none;
  }

  .footer div section ul li:nth-child(5) {
    grid-column: 1 / 3;
  }

  .footer div section ul li:nth-child(6) {
    grid-column: 1 / 3;
  }

  .task__description {
    font-size: 16px;
  }

  .task__end {
    font-size: 16px;
  }

  .task__erase {
    font-size: 16px;
  }

  .input__label .input__span {
    font-size: 16px;
  }

  .input__label .input__span.top {
    font-size: 12px;
  }

  .input__label .input__task {
    font-size: 16px;
  }

  .btn__submit {
    display: flex;
    align-items: center;
  }
  .navbar__title {
    font-size: 30px;
  }

  .hamburger__menu label {
    display: block;
  }

  .hamburger__menu-nav {
    position: absolute;
    background-color: var(--blue-cerulean);
    width: 100%;
    margin-top: -100%;
    transition: all 400ms ease;
  }

  .hamburger__menu-nav ul {
    flex-direction: column;
    border-top: 1px solid var(--blue-bda);
  }

  #btn-menu:checked ~ .hamburger__menu-nav {
    margin: 0%;
  }

  .hamburger__menu-nav li {
    width: 100%;
    text-align: center;
  }

  .hamburger__menu-nav li a:hover {
    border-radius: 0%;
  }
}
